NODE_ENV=development
PORT=5000
MONGODB_URI=mongodb+srv://drashtisojitra2411_db_user:k3egnZ3UOX4ODfow@athlix-cluster.ytqnk3p.mongodb.net/?appName=athlix-cluster
CLIENT_URL=http://localhost:5173
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRES_IN=7d
BCRYPT_SALT_ROUNDS=10
GEMINI_API_KEY=your_gemini_api_key
